svg {
    max-height: 25px;
}

.titre{
    text-align: center;
    font-family: 'Average Sans';
    font-style: normal;
    font-size: 20px;
    color:#196CA3;
    text-decoration: underline;
}

#formulaire {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 3em;
}

#formulaire div {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
}

.user {
    display: grid;
    grid-template-columns: 10% 90%;
}

.user svg {
    display: block;
    padding: 3px;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    width: 25px;
    
    background: #D9D9D9;
    border-radius: 10px 0px 0px 10px;
}

.user textarea {
    grid-column-start: 2;
    grid-column-end: 3;
}

#envoie {
    background-color: #0054D3;
    color:white;
}

#envoie:hover {
    background-color: #00ADD3;
    transition: 300ms;
}

#form {

    display: block;
    margin: auto;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

iframe {

    margin: auto;

}